:root {
    --darkgrey: #1f2833;;
    --neutral: #c5c6c7;
    --highlight-one: #66fcf1;
    --highlight-two: #45a29e;
    --whitest: #FCFBF4;
}

body, html {
    background-color: var(--darkgrey);
    height: 100%;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--darkgrey);
    height: auto;
    width: auto;
}

.heading > h1 {
    font: 50px "Lucida Console", monospace;
    color: var(--highlight-one);
}

.heading > h2 {
    font: 25px "Courier New", monospace;
    text-align: center;
    color: var(--highlight-one);
}

.personal-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--whitest);
    height: auto;
    width: 100%;
    font: 20px "Alata", Verdana, sans-serif;
}

.skill-group {
    background-color: var(--darkgrey);
    border: dotted 2px var(--whitest);
    margin: 2%;
    color: var(--whitest);
    transition: background-color 0.5s;
}

.skill-group:hover {
    background-color: var(--whitest);
    border: solid 3px var(--darkgrey);
    color: var(--darkgrey)
}

.skill-group > ul {
    columns: auto 2;

}

.slideshow {
    position: relative;
    margin: auto;
    flex: 1 300px;
    background-color: var(--highlight-two);
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
}

.slide > a {
    padding: 1%;
    background-color: var(--darkgrey);
    border: dotted 3px var(--whitest);
    transition: background-color 0.5s;
}

.slide > a:hover {
    background-color: var(--whitest);
    border: solid 3px var(--darkgrey);
}

.caption {
    background-color: var(--whitest);
}

.fade-anim {
    animation: fade 1.5s;
}

@keyframes fade {
    from 
    {
        opacity: .4
    }
    to 
    {
        opacity: 1
    }
}

.slide > a > img {
    height: 200px;
    width: 200px;
}

.prev, .next  {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--highlight-one);
    background-color: var(--darkgrey);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: dotted 2px var(--whitest);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    border: solid 2px var(--darkgrey);
    background-color: var(--highlight-one);
    color: var(--darkgrey);
}

.prev:active, .next:active {
    background-color: var(--darkgrey);
}
  
.text {
    font-size: 15px;
    font-family: "Avant Garde";
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--whitest);
    height: auto;
    width: auto;
    font: 16px "Alata", Verdana, sans-serif;
    padding-bottom: 20px;
}

.projects > a:link, .projects > a:visited {
    flex: 1;
    width: 50px;
    border: solid 2px var(--highlight-one);
    margin: 3%;
    color:var(--highlight-two);
    text-decoration: none;
    text-align: center;
    background-color: var(--whitest);
    padding: 10px;
    transition: background-color 0.5s;
}

.projects > a:hover {
    background-color: var(--highlight-two);
    border-color: var(--whitest);
    color: var(--darkgrey);
}

.projects > a:active {
    background-color: var(--darkgrey);
}

.projects > a > img {
    height: auto;
    width: 70px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
}

.contact-me {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    display: none;
    opacity: 0;
}

.socials {
    background-color: none;
    position: fixed;
    top: 0px;
    padding: 0px;
}

.social:link, .social:visited {
    background-color: var(--whitest);
    margin: 5%;
    color: var(--darkgrey);
    border: dotted 2px var(--highlight-one);
    transition: background-color 0.5s;
}

.social:hover {
    background-color: var(--highlight-two);
    border-color: var(--highlight-one);
    color: var(--blackest)
}

.social:active {
    background-color: var(--darkgrey);
}

.imgheading, .imgpinfo, .imgprojects, .imgsocials {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.imgheading {
    background-image: url(assets/IMG_4519.png);
    height: 60%;
    opacity: 0.9;
    background-position: center;
}

#collapse {
    border: none;
    background-color: transparent;
    overflow: hidden;
    outline: none;
}

#collapse > img {
    border: dotted 2px var(--highlight-one);
    background-color: var(--darkgrey);
    height: 96px;
    width: 96px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

#collapse:hover > img, #collapse:focus > img {
    border: solid 2px var(--highlight-two);
    background-color: var(--whitest);
}

.logo {
    width: 64px;
    height: 64px;
}

.contact-me.show {
    opacity: 1;
    display: flex;
}