:root {
    --bar-heading: #363635;
    --page-outline: #595a4a;
    --color-one: #f0f7ee;
    --color-two: #BABFD1;
    --white: #ffffff;
    --darkgrey: #1f2833;
    --blackest: #ffffff;
    --neutral: #c5c6c7;
    --highlight-one: #66fcf1;
    --highlight-two: #45a29e;
    --whitest: #FCFBF4;
}

body, html {
    background-color: var(--darkgrey);
    height: 100%;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--darkgrey);
    height: auto;
    width: auto;
}

.heading > h1 {
    font: 50px "Lucida Console", monospace;
    color: var(--highlight-one);
}

.heading > h2 {
    font: 25px "Courier New", monospace;
    text-align: center;
    color: var(--highlight-one);
}

.personal-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blackest);
    height: auto;
    width: 100%;
    font: 20px "Alata", Verdana, sans-serif;
}

.skill-group {
    background-color: var(--bar-heading);
    border: dotted 2px var(--white);
    margin: 2%;
    color: var(--white);
    transition: background-color 0.5s;
}

.skill-group:hover {
    background-color: var(--white);
    border: solid 3px var(--bar-heading);
    color: var(--bar-heading)
}

.skill-group > ul {
    columns: auto 2;

}

.personal-info > section {
    color: var(--darkgrey)
}

.personal-info > p {
    flex: 2 200px;
    padding: 4px;
    color: #000000;
}

.personal-info > section > ul {
    flex: 4 300px;
    columns: 2;
    color: #000000;
}

.slideshow {
    position: relative;
    margin: auto;
    flex: 1 300px;
    background-color: var(--color-two);
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
}

.slide > a {
    padding: 1%;
    background-color: var(--bar-heading);
    border: dotted 3px #ffffff;
    transition: background-color 0.5s;
}

.slide > a:hover {
    background-color: #ffffff;
    border: solid 3px #000000;
}

.caption {
    background-color: white;
}

.fade-anim {
    animation: fade 1.5s;
}

@keyframes fade {
    from 
    {
        opacity: .4
    }
    to 
    {
        opacity: 1
    }
}

.slide > a > img {
    height: 200px;
    width: 200px;
}

.prev, .next  {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--highlight-one);
    background-color: var(--darkgrey);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: dotted 2px #ffffff;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    border: solid 2px #000000;
    background-color: var(--highlight-one);
    color: var(--darkgrey);
}

.prev:active, .next:active {
    background-color: black;
}
  
.text {
    font-size: 15px;
    font-family: "Avant Garde";
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--blackest);
    height: auto;
    width: auto;
    font: 16px "Alata", Verdana, sans-serif;
    padding-bottom: 20px;
}

.projects > a:link, .projects > a:visited {
    flex: 1;
    width: 50px;
    border: solid 2px var(--highlight-one);
    margin: 3%;
    color:var(--highlight-two);
    text-decoration: none;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    transition: background-color 0.5s;
}

.projects > a:hover {
    background-color: var(--highlight-two);
    border-color: var(--blackest);
    color: var(--darkgrey);
}

.projects > a:active {
    background-color: var(--page-outline);
}

.projects > a > img {
    height: auto;
    width: 70px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--whitest);
    position: fixed;
    top: 0;
}

.contact-me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--whitest);
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
}

.social:link, .social:visited {
    color: var(--darkgrey);
    border: solid 2px var(--highlight-one);
    padding: 14px 25px;
    font: 20px "Alata", Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    font-family: "Avant Garde";
    display: inline-block;
    transition: background-color 0.5s;
}

.social:hover {
    background-color: var(--highlight-two);
    border-color: var(--highlight-one);
    color: var(--blackest)
}

.social:active {
    background-color: var(--page-outline);
}

.imgpinfo, .imgprojects, .imgsocials {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.imgheading {
    height: 20vh;
    overflow: hidden;
    position: relative;
}

.collapse {
    background-color: var(--whitest);
    cursor: pointer;
}

.logo {
    width: 32px;
    height: 32px;
}